@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  color: #faeffb;
  margin-bottom: 0px;
}

p {
  color: #faeffb;
  margin-top: 4px;
}
/* Aqui muda o corpo da pagina */
body {
  text-align: center;
  background-color: #2e0c31;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/* Aqui muda o formulario da pagina */

form {
  background-color: white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 30px 20px;
  max-width: 600px;
  margin: 40px auto;
}

.form-control {
  margin-bottom: 15px;
  text-align: left;
  padding: 7px;
}

.form-control label {
  display: block;
  margin-bottom: 7px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 4px;
  display: block;
  font-size: 13px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

.form-control input[type="submit"] {
  background-color: #5c1863;
  color: white;
}
